@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3a1809;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3a1809;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.sharetech {
  font-family: 'Share Tech Mono', monospace;
}
